# This is Jeopardy!

## Project Requirements

1. A csv file contains data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Print out specific columns.

In [129]:
# Import of libriaries and loading of the dataset
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.info())
print(jeopardy.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None
   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [130]:
# Rename the columns for convenience and check the result
jeopardy.columns = ['show_number', 'air_date', 'round', 'category', 'value', 'question', 'answer']
print(jeopardy.head())
print(jeopardy.value)

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams
0          $200
1          $200
2          $200
3          $200
4          $200
          ...
216925    $2000
216926    $2000
216927    $2000
216928    $2000
216929     None
Name: value, Length: 216930, dtype: object

In [131]:
# The values in  column 'values' are strings. First let's print all unique values
print(jeopardy.value.unique())

['$200' '$400' '$600' '$800' '$2,000' '$1000' '$1200' '$1600' '$2000'
 '$3,200' 'None' '$5,000' '$100' '$300' '$500' '$1,000' '$1,500' '$1,200'
 '$4,800' '$1,800' '$1,100' '$2,200' '$3,400' '$3,000' '$4,000' '$1,600'
 '$6,800' '$1,900' '$3,100' '$700' '$1,400' '$2,800' '$8,000' '$6,000'
 '$2,400' '$12,000' '$3,800' '$2,500' '$6,200' '$10,000' '$7,000' '$1,492'
 '$7,400' '$1,300' '$7,200' '$2,600' '$3,300' '$5,400' '$4,500' '$2,100'
 '$900' '$3,600' '$2,127' '$367' '$4,400' '$3,500' '$2,900' '$3,900'
 '$4,100' '$4,600' '$10,800' '$2,300' '$5,600' '$1,111' '$8,200' '$5,800'
 '$750' '$7,500' '$1,700' '$9,000' '$6,100' '$1,020' '$4,700' '$2,021'
 '$5,200' '$3,389' '$4,200' '$5' '$2,001' '$1,263' '$4,637' '$3,201'
 '$6,600' '$3,700' '$2,990' '$5,500' '$14,000' '$2,700' '$6,400' '$350'
 '$8,600' '$6,300' '$250' '$3,989' '$8,917' '$9,500' '$1,246' '$6,435'
 '$8,800' '$2,222' '$2,746' '$10,400' '$7,600' '$6,700' '$5,100' '$13,200'
 '$4,300' '$1,407' '$12,400' '$5,401' '$7,800' '$1,183' '$1,203' '$13,000'
 '$11,600' '$14,200' '$1,809' '$8,400' '$8,700' '$11,000' '$5,201'
 '$1,801' '$3,499' '$5,700' '$601' '$4,008' '$50' '$2,344' '$2,811'
 '$18,000' '$1,777' '$3,599' '$9,800' '$796' '$3,150' '$20' '$1,810' '$22'
 '$9,200' '$1,512' '$8,500' '$585' '$1,534' '$13,800' '$5,001' '$4,238'
 '$16,400' '$1,347' '$2547' '$11,200']

In [132]:
# First we must treat 'None' strings - convert them to float number 0.0. 
# Then we remove dollar sign and commas from our strings and convert all of them into floats.
jeopardy['value'] = jeopardy['value'].replace('None', 0.0 , regex=True).replace('[\$,]', '', regex=True).astype(float)

# Check the result
print(jeopardy.head())

   show_number    air_date      round                         category  value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  200.0
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  200.0
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  200.0
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  200.0
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  200.0

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [133]:
# Additionally change the type of 'air_date' column according to its logic to datetime
jeopardy["air_date"] = pd.to_datetime(jeopardy["air_date"])

In [134]:
# Check the result for the time being
print(jeopardy.head())

   show_number   air_date      round                         category  value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  200.0
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  200.0
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  200.0
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  200.0
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  200.0

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test the function by printing out the column containing the question of each row of the dataset.

In [14]:
# My Solution
king_england = jeopardy[jeopardy.question.str.contains("King") & jeopardy.question.str.contains("England")]
print(len(king_england))
print(king_england.question)

# Course solution:
def king_england (data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data['question'].apply(filter)]
filtered = king_england(jeopardy, ['King', 'England'])
print(filtered['question'])

49
4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: question, dtype: object

3. Test the original function with a few different sets of words to try to find some ways your function breaks. Edit the function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [139]:
# My Solution
king_england = jeopardy[jeopardy.question.str.contains("King", case=False)\
                        & jeopardy.question.str.contains("England", case=False)]
print(king_england.question.head())
print(len(king_england))

4953                   Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337     In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                   This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710              This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                      It's the number that followed the last king of England named William
Name: question, dtype: object
152

In [137]:
# Course Solution:
# Filtering a dataset by a list of words
def king_england(data, words):
  # Lowercases all words in the list of words as well as the questions. Returns true if all of the words in the list appear in the question.
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  # Applies the lambda function to the Question column and returns the rows where the function returned True
  return data.loc[data["question"].apply(filter)]

# Testing the filter function
filtered = king_england(jeopardy, ["King", "England"])
print(filtered["question"])
print(len(filtered))

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: question, Length: 152, dtype: object
152

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. Use the 'value column of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [38]:
king_difficulty = round(jeopardy[jeopardy.question.str.contains("King", case=True)].value.mean(),2)
print(king_difficulty)

773.44

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [58]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["answer"].value_counts()

# Testing the answer count function
filtered = king_england(jeopardy, ["King"])
print(get_answer_counts(filtered))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?

In [140]:
# Task 1.1. Usage of the word 'computer' in 1990s vs. 2000s
computer_year_90s = jeopardy[(jeopardy.question.str.contains("Computer", case=False)) 
                             & (jeopardy.air_date >= '1990-01-01') & (jeopardy.air_date <= '1999-12-31')]
print(computer_year_90s.head())

computer_year_00s = jeopardy[(jeopardy.question.str.contains("Computer", case=False)) 
                             & (jeopardy.air_date >= '2000-01-01') & (jeopardy.air_date <= '2009-12-31')]
print(computer_year_00s.head())
print(len(computer_year_90s))
print(len(computer_year_00s))

       show_number   air_date             round                 category  \
2410          3214 1998-07-16         Jeopardy!   PRE-COLUMBIAN CULTURES
5077          3480 1999-10-22  Double Jeopardy!  19th CENTURY LITERATURE
18795         3175 1998-05-22  Double Jeopardy!            GREEK LETTERS
20837         3118 1998-03-04         Jeopardy!                GO TO "H"
22502         2874 1997-02-13         Jeopardy!      BUSINESS & INDUSTRY

        value  \
2410    500.0
5077    500.0
18795  1000.0
20837   200.0
22502   200.0

                                                                                                     question  \
2410                   Warriors of this Yucatan civilization battle in the computer-enhanced mural seen here:
5077   Edward Bellamy's 1888 book "Looking Backward" sends a man to this year & doesn't mention computer bugs
18795   Computer games & programs undergo this test period to work out bugs before their final retail release
20837           At best, it's a computer enthusiast; at worst, it's one who illegally taps into your computer
22502                            This company's new computer products include the Aptiva S & the Thinkpad 560

             answer
2410         Mayans
5077           2000
18795  Beta testing
20837        Hacker
22502           IBM
      show_number   air_date             round                category  \
309          5690 2009-05-08         Jeopardy!  OLD FOLKS IN THEIR 30s
342          5690 2009-05-08  Double Jeopardy!          MATHEM-ATTACK!
1106         4085 2002-05-10  Double Jeopardy!      "EN" THE BEGINNING
1430         4960 2006-03-17         Jeopardy!   RECORD LOSSES IN 2005
3078         4487 2004-02-24  Double Jeopardy!                    LISA

       value  \
309    600.0
342   1200.0
1106   800.0
1430   200.0
3078   800.0

                                                                                                                                                                                                                                                                                                                                                 question  \
309                                                                                                                                                                                                                                                            Linus Torvalds is the father of this operating system used on cell phones & supercomputers
342   (<a href="http://www.j-archive.com/media/2009-05-08_DJ_28.jpg" target="_blank">Kelly of the Clue Crew shows an array of numbers enclosed in brackets on the monitor.</a>)  A set of numbers in rows and columns can be used in many ways--for example, to encrypt a code or create 3-D computer graphics; the set shares this name with a 1999 film
1106                                                                                                                                                                                                                                                                             2-word term for the consumer, for whom a computer is ultimately designed
1430                                                                                                                                                                                                                                               A computer with 98,000 names & SSNs was reported stolen from this oldest campus of the Univ. of Calif.
3078                                                                                                                                                                                                                                                         In 1983 Apple introduced the Lisa personal computer, the first PC with one of these controls

           answer
309         Linux
342      a matrix
1106  an end user
1430     Berkeley
3078      a mouse
98
268

In [141]:
# Task 1.2. Usage of the word 'internet' and 'WWW' in 1990s vs. 2000s
internet_year_90s = jeopardy[(jeopardy.question.str.contains("Internet", case=False) 
                              | jeopardy.question.str.contains("WWW", case=False)) 
                             & (jeopardy.air_date >= '1990-01-01') & (jeopardy.air_date <= '1999-12-31')]
print(internet_year_90s.head())

internet_year_00s = jeopardy[(jeopardy.question.str.contains("Internet", case=False)
                              | jeopardy.question.str.contains("WWW", case=False)) 
                             & (jeopardy.air_date >= '2000-01-01') & (jeopardy.air_date <= '2009-12-31')]
print(internet_year_00s.head())

print(len(internet_year_90s))
print(len(internet_year_00s))

     show_number   air_date             round         category   value  \
379         2825 1996-12-06         Jeopardy!       TELEVISION   600.0
546         3036 1997-11-10         Jeopardy!      CELEB STUFF  1500.0
571         3036 1997-11-10  Double Jeopardy!  COLLEGE MASCOTS   200.0
577         3036 1997-11-10  Double Jeopardy!  COLLEGE MASCOTS   400.0
583         3036 1997-11-10  Double Jeopardy!  COLLEGE MASCOTS   600.0

                                                                                                                                                                                            question  \
379                                                                  Character seen <a href="http://www.j-archive.com/media/1996-12-06_J_04.wmv">here</a>, his action-packed journeys are legendary:
546  (<a href="http://www.j-archive.com/media/1997-11-10_J_17.jpg" target="_blank">Hi, I'm Bob Eubanks.</a>)  Tea Leoni ran into this "X-Files" star at the Golden Globes & soon they were newlyweds
571                                                                                                   <a href="http://www.j-archive.com/media/1997-11-10_DJ_20.jpg" target="_blank">[video clue]</a>
577                                                                                                   <a href="http://www.j-archive.com/media/1997-11-10_DJ_27.jpg" target="_blank">[video clue]</a>
583                                                                                                   <a href="http://www.j-archive.com/media/1997-11-10_DJ_28.jpg" target="_blank">[video clue]</a>

                        answer
379     Hercules (Kevin Sorbo)
546             David Duchovny
571    Oregon State University
577  the University of Florida
583    the University of Texas
    show_number   air_date             round                    category  \
29         4680 2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
39         4680 2004-12-31  Double Jeopardy!                 "X"s & "O"s
40         4680 2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
45         4680 2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
50         4680 2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX

     value  \
29   400.0
39   800.0
40  1200.0
45  1600.0
50  2000.0

                                                                                                                                                                              question  \
29         <a href="http://www.j-archive.com/media/2004-12-31_DJ_23.mp3">Beyond ovoid abandonment, beyond ovoid betrayal... you won't believe the ending when he "Hatches the Egg"</a>
39                       The shorter glass seen <a href="http://www.j-archive.com/media/2004-12-31_DJ_12.jpg" target="_blank">here</a>, or a quaint cocktail made with sugar & bitters
40   <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
45  <a href="http://www.j-archive.com/media/2004-12-31_DJ_25.mp3">Somewhere between truth & fiction lies Marco's reality... on Halloween, you won't believe you saw it on this St.</a>
50                 <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>

                 answer
29               Horton
39     an old-fashioned
40               Yertle
45      Mulberry Street
50  Bartholomew Cubbins
375
7870

In [142]:
# Task 2. Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?
round_cat_single = jeopardy[jeopardy['round'].isin(['Jeopardy!']) 
                            & jeopardy.category.str.contains("Literature", case=False)]
print(len(round_cat_single))

round_cat_double = jeopardy[jeopardy['round'].isin(['Double Jeopardy!']) 
                            & jeopardy.category.str.contains("Literature", case=False)]
print(len(round_cat_double))

423
1054

# to be adressed...
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.